h1 {
    font-size: 2rem;
    margin: 0;
}

#about {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
}

#skills {
    background-color: #f0f8ff;
    padding: 20px;
    border-radius: 8px;
}
#img2{
    width: 300px;
    height: 250px !important;
}

#projects {
    background-color: #f5fffa;
    padding: 20px;
    border-radius: 8px;
}

#contact {
    background-color: #fffacd;
    padding: 20px;
    border-radius: 8px;
}

footer {
    background-color: #f8f8ff; 
    padding: 10px;
    border-radius: 8px;
}

#about img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

#projects .portfolio_P img,
#projects .Ecom_P img,
#projects .Amazon_Clone_P img,
#projects .Expense_P img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

#contact input,
#contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#contact p {
    margin-top: 15px;
}

.social-Links i {
    font-size: 2rem;
    margin-right: 15px;
}

.up-links a {
    margin-right: 15px;
}
